<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  thread-count="1">

  <test name="Test">
  		<parameter name="browser" value="chrome" />
		
		<parameter name="env" value="iban" />
		
    <classes> 
      <class name="com.accuity.qa.iban.checkDB"/>  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
